<h2>As-salāmu ʿalaikum wa-raḥmatu llāhi wa-barakātuhu {{ name | title  }}!</h2>

<h3>Du hast Dich erfolgreich für Eid al-Adha am Montag, den 19.07.2021 registriert.</h3>

<h3>Veranstaltungsort ist die "Sporthalle IGS" in der Schneiderstraße 69 in 76829 Landau.</h3>

<h3>Dein QR-Code für den Anmeldeprozess am Eingang:</h3>

<img src="cid:QrCode" />

<h3>Wir freuen uns schon auf Dich und BarakAllahu Feek(i)</h3>

<h3>Dein IMV-Landau e. V.</h3>
